<%- include('./partials/header.ejs') %>

<script>
    function createArrayView(array, idKey, selection) {
        let id = array[idKey].replaceSpecialCharacters() + "ArrayView";
        let arrayStr = "<div id='" + id + "'>";

        let keyarray = Object.keys(array);
        if(is(selection) && selection.length > 0) {
            keyarray = keyarray.filter(e => selection.includes(e))
        }

        arrayStr += keyarray.map(key => {
            return "<div>&#8226; " +key+": "+ array[key] +"</div>";
        }).join("");

        return [arrayStr + "</div>", id];
    }

    function appendSpecies(data) {
        data = JSON.parse(data);
        if(data[0] !== undefined) {
            let $tableRow = $(this);
            let scientificName = data[0]["Scientific Name"];
            let speciesView = createArrayView(data[0], "Scientific Name", ["Scientific Name", "Rank", "Listing", "All_DistributionFullNames"]);
            $tableRow.find(".speciesCol").first().append(speciesView[0]);

            $.post( "/getTrade/"+scientificName, $.proxy(appendTrade, {"tableRow": $tableRow}));
        }
    }

    function appendTrade(data) {
        let $tableRow = $(this.tableRow);
        data = JSON.parse(data);

        $tableRow.find(".tradeCol").first().find(".scroll").last().append(data.map(e => "&#8226; " + e.Year + " " + e.Term).join("<br>"));
    }

    function appendBGCI(data) {
        let $tableRow = $(this.tableRow);
        let treeName = this.treeName;
        try {
            if(data != "") {
                data = JSON.parse(data);

                let $col = $tableRow.find(".bgciCol").first().find(".scroll").last();
                
                let map = new BGCIMap("mapid");

                let countries = [];

                function processEntry(e) {

                    countries.push(e.country);

                    return "&#8226; " + (e.province ? e.country+"/"+e.province : e.country);
                }
                
                $col.append("ID:" + data.id + "<br>");
                $col.append(data.TSGeolinks.map(processEntry).join("<br>"));
                map.addTreeCountries(treeName, [ ...new Set(countries) ]);
            }
        }
        catch(err) {
            console.log(err);
        }
    }

    function appendThreatSearch(data) {
        let $tableRow = $(this.tableRow);
            
        data = JSON.parse(data);

        let $col = $tableRow.find(".bgciThreatCol").first().find(".scroll").last();
        
        $col.append(data.map(e => "&#8226; " + e.consAssCategory + " – " + e.assessmentYear + " – " + e.threatened + " – " + e.reference).join("<br>"));
    }

    function appendSynonyms(data) {
        let $tableRow = $(this.tableRow);
        let scientificName = this.scientificName;
        data = JSON.parse(data);
        $tableRow.find(".synonymCol").first().append(data.join(", "));

        for(let syn of data.values()) {
            $.post( "/getTrade/"+syn, $.proxy(appendTrade, {"tableRow": $tableRow}));

            $.post( "/queryIUCN/"+syn, 
                $.proxy(appendIUCN, {"tableRow": $tableRow})
            );

            $.post( "/queryTreeSearchSpeciesWithSciName/"+syn, 
                $.proxy(appendBGCI, {"tableRow": $tableRow, "treeName": syn})
            );

            $.post( "/queryThreatSearchWithSciName/"+syn, 
                $.proxy(appendThreatSearch, {"tableRow": $tableRow})
            );
        } 
    }

    function appendIUCN(data) {
        let $tableRow = $(this.tableRow);
        data = JSON.parse(data);
        if(data.length > 0) {
            $tableRow.find(".iucnCol").first().find(".scroll").first().append(data.map(e => "&#8226; " + e.year + " " + e.code));
        }
    }

    function appendGBIF(data) {
        let $tableRow = $(this.tableRow);
        let treeName = this.treeName;
        data = JSON.parse(data);
        let taxonKey = data.taxonKey;

        $.post( "/queryGBIF/"+taxonKey, (result) => {
            result = JSON.parse(result);
            let image = "";
            let text = "";
            let coordinates = [];
            for(let entry of result.values()) {
                if(image === "" && entry.hasOwnProperty("media")) {
                    let filter = entry["media"].filter(e => e.format.includes("image"));
                    if(filter.length > 0) {
                        image = filter[0].identifier;
                        /*for(let ident of filter.values()) {
                            $tableRow.find(".imageCol").first().find(".scroll").first().append("<img style='margin-bottom:20px' width='200px' src='"+ image +"'/>");
                        }*/
                    }
                }

                text += entry.datasetName ? "&#8226; " + entry.datasetName + ", " : "";

                if(entry.decimalLatitude !== undefined && entry.decimalLongitude !== undefined) {
                    coordinates.push([entry.decimalLatitude, entry.decimalLongitude]);
                }
            }

            let map = new BGCIMap("mapid");
            map.addTreeCoordinates(treeName, coordinates);

            if(image !== "") {
                $tableRow.find(".imageCol").first().find(".scroll").first().append("<img src='"+ image +"'/>");
            }

            if(text !== "") {
                $tableRow.find(".gbifCol").first().find(".scroll").first().append(text);
            }
        });
    }

    function getMainPart(instruments, selectedMainPart=null) {
         $.post( "/getMainPart/"+instruments , function( data ) {
            data = JSON.parse(data);
            let mainPartSelect = $("#mainPartSelect");
            mainPartSelect.closest(".select-wrapper").css("display", "block");
            mainPartSelect.html("");
            mainPartSelect.html(data.map(e => (selectedMainPart != null && selectedMainPart === e.Main_part ? "<option selected='true'>" : "<option>")+e.Main_part+"</option>"));
            mainPartSelect.attr("instruments", instruments);

            if(selectedMainPart) {
                func2($("#mainPartSelect"));
            }
        });
    }

    function clearTable() {
        $(".tableRow").remove();
    }

    function func1(e, selectedMainPart=null){
        let instruments = $(e).val();
        getMainPart(instruments, selectedMainPart);
    }

    function func2(e){
        let mainPart = $(e).val();
        clearTable();
        $.post( "/getMaterial/"+$("#instrumentsSelect").val()+"/"+mainPart, function( data ) {
            data = JSON.parse(data);
            let materialArray = $("#materialArray");
            materialArray.css("display", "inline-block");

            let table = $("#resultTable");


            for(let material of data.values()) {
                let $tableRow = $("<tr class='tableRow'>\
                    <td><div class='tableCell materialCol'/></td>\
                    <td><div class='tableCell speciesCol'/></td>\
                    <td><div class='tableCell synonymCol'/></td>\
                    <td><div class='tableCell tradeCol'><div class='scroll'/></div></td>\
                    <td><div class='tableCell gbifCol'><div class='scroll'/></div></td>\
                    <td><div class='tableCell imageCol'><div class='scroll'/></div></td></td>\
                    <td><div class='tableCell iucnCol'><div class='scroll'/></div></td>\
                    <td><div class='tableCell bgciCol'><div class='scroll'/></div></td>\
                    <td><div class='tableCell bgciThreatCol'><div class='scroll'/></div></td>\
                </tr>");
                //<td><div class='tableCell imageCol'><div style='max-width: 200px; height:8em' class='scroll'/></div></td>\
                let materialView = createArrayView(material, "Trade_name");
                $tableRow.find(".materialCol").first().append(materialView[0]);

                let scientificName = material["Genus"].trim() + " " + material["Species"].trim();

                $.post( "/getSpecies/"+material["Family"]+"/"+material["Genus"]+"/"+material["Species"], $.proxy(appendSpecies, $tableRow));

                $.post( "/getSynonyms/"+scientificName, 
                    $.proxy(appendSynonyms, {"tableRow": $tableRow, "scientificName": scientificName})
                );

                $.post( "/queryIUCN/"+scientificName, 
                    $.proxy(appendIUCN, {"tableRow": $tableRow})
                );

                $.post( "/queryTreeSearchSpeciesWithSciName/"+scientificName, 
                    $.proxy(appendBGCI, {"tableRow": $tableRow, "treeName": scientificName})
                );

                $.post( "/queryThreatSearchWithSciName/"+scientificName, 
                    $.proxy(appendThreatSearch, {"tableRow": $tableRow})
                );

                $.post( "/queryGBIFspecies/"+scientificName, $.proxy(appendGBIF, {"tableRow": $tableRow, "treeName": scientificName}));

                table.append($tableRow);
            }
        });
    }
</script>
<% if (instruments.length > 0) {%> 
    <div class="select-wrapper">
        <div class="label">Instruments:</div>
        <select id="instrumentsSelect" onchange='<%= 'func1(this);' %>'>  
            <% instruments.forEach((instrument, index) => { %>
                <% if (selectedinstrument == instrument.Instruments) { %>
                    <option selected="selected"><%= instrument.Instruments %></option>
                    <script type="text/javascript">func1($("#instrumentsSelect"), "<%= selectedMainPart %>");</script> 
                <% } else{ %>
                    <option><%= instrument.Instruments %>%></option>
                <% } %>
            <%})%>
        </select>
    </div>
    <div class="select-wrapper" style="display: none;">
        <div class="label">Main Parts:</div>
        <select id="mainPartSelect" onchange='<%= 'func2(this);' %>'>  
        </select>
    </div>
    <table id="resultTable">
  <tr class="tableRow tableHead">
    <th>Material</th>
    <th>Species</th>
    <th>Synonyms</th>
    <th>Trade</th>
    <th>GBIF</th>
    <th>Image</th>
    <th>IUCN Categories</th>
    <th>TreeSearch</th>
    <th>ThreatSearch</th>
  </tr>
</table>

<div id="mapid"></div>
<% } %>
 
</div>
</body>
</html>